<!--The content below is only a placeholder and can be replaced.-->
<html>
<meta charset="UTF-8">
<ul>
<li><a routerLink="">HOME</a></li>
<li><a routerLink="objets">Devices</a></li>

<agm-map [latitude]="lat" [longitude]="lng">


  <agm-marker *ngFor= "let device of devices"[latitude]="device.lat" [longitude]="device.longitude" [title]="device.nom"></agm-marker>
 
<!--   <agm-marker class="mapMarker" *ngFor="let device of devices;"  [latitude]="device.latitude" [longitude]="device.longitude" [iconUrl]="'/src/assets/arrow2.png'" [title]="device.name"> -->
  
</agm-map>

<!-- <li *ngFor= "let device of devices" >  -->
<!--  latitude {{device.latitude}} -->
<!--   longitude  {{device.longitude}} -->
<!-- </li> -->
</ul>

<router-outlet></router-outlet>
</html>