<html>
<meta charset="UTF-8">


<table class="rwd-table">

<tr>
	 
	 <th>Device</th>
	 <th>Domaine</th>
	 <th>Mesure</th>
	 <th>Unite</th>
	 <th>Localisation</th>
	  <th>latitude</th>
	 <th>longitude</th>
	</tr>
	</table>
<div class="madiv" style= "height: 350pt; overflow:auto; ">

<table class="rwd-table">
	




<tr *ngFor= "let device of objets" > 

		<td >
		{{device.nom}}
		</td>
		<td>
		{{device.domaine}}
		</td>
		<td>
		{{device.mesure}}
		</td>
		<td>
		{{device.mesureUnite}}
		</td>
		<td >
		{{device.location}}
		</td>
		<td >
		{{device.lat}}
		</td>
		<td >
{{device.longitude}}
</td>
</tr>
</table>
</div> 







	
</html>
	

